{{> head }} {{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Dath Vader</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt officia blanditiis mollitia soluta voluptatum aliquid, iusto tempore magni nihil nesciunt expedita eveniet assumenda earum nobis laborum placeat exercitationem nam quae!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/dath-vader.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}